# Site
name: "thekosmix"
url: "https://www.thekosmix.com"
title: "Experiences of a life well lived"
description: "We all have some thoughts to share with the world. This blog is my personal thoughts on things around me."
logo: 'assets/images/profile.png'
favicon: 'assets/images/profile.png'
svg: 'assets/images/thekosmix.svg'
baseurl: ''
google_analytics: 'G-1HPMFE7K85'
#mailchimp-list: 'https://wowthemes.us11.list-manage.com/subscribe/post?u=8aeb20a530e124561927d3bd8&amp;id=8c3d2d214b'
include: ["_pages"]
permalink: /:title/
environment: 'production'
social_share: disabled
soopr_share: enabled
jumbotron: disabled
chat: enabled

disqus: 
  name: 'thekosmix'
  comment: 'enabled'

# Authors
authors:
  sid:
    name: Siddharth
    display_name: Siddharth
    gravatar: 744cc0eec84c2f48966a7da5be45817c
    email: 
    web: https://thekosmix.github.io
    twitter: https://twitter.com/thekosmix
    linkedin: https://www.linkedin.com/in/kumarsiddharth
    description: "Coder by Profession, Adventurer by passion, Explorer by choice"

# Plugins
plugins:
  - jekyll-paginate
  - jekyll-sitemap
  - jekyll-feed
  - jekyll-seo-tag
  - jekyll-archives
  - jekyll-redirect-from
  - jekyll-minifier

redirect_from:
  json: false

# Archives
jekyll-archives:
  enabled:
    - categories
  layout: archive
  permalinks:
    category: '/categories/:name/'
    
# Pagination 
paginate: 6
paginate_path: /page:num/
    
# Other
markdown: kramdown

kramdown:
  input: GFM
  syntax_highlighter: rouge
  syntax_highlighter_opts:
    block:
      line_numbers: true

# Adsense (change to "enabled" to activate, also your client id and ad slot. Create a new ad unit from your Adsense account to get the slot.)
adsense: "disabled"
adsense-data-ad-client: "ca-pub-7697716916792560"
# adsense-data-ad-slot: "1363087678"

# Lazy Images ("enabled" or "disabled")
lazyimages: "enabled"

exclude: [changelog.md, LICENSE.txt, README.md, Gemfile, Gemfile.lock]

webrick:
  headers:
    Cache-Control: max-age=31536000